@charset "UTF-8";

h1{
    font-family: sans-serif;
}

a{
    display: inline-block;
    color: green;
    text-decoration: none;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}