@charset "UTF-8";

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

h2{
    background: #d8d8d8;
    border: 1px solid #c0c0c0;
    padding: 20px;
    margin: 0px;
    flex: 1 ;
}

.grid{
    margin-top: 60px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}